/* * Teal color (used for headings and backgrounds): `#4aaaa5`
* Regular font color (used for paragraphs and all text besides the headings): `#777777`
* Main header background color: `#ffffff`
* Main header border color: `#cccccc`
* Footer background color: `#666666`
* Main content background color: `#ffffff`
* Main content border color: `#dddddd` */


body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    background-image: url(https://image.freepik.com/free-vector/background-with-gray-texture_1048-5175.jpg);
}

.container-main {
    width: 960px;
    margin: 0 auto;

}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    border: #cccccc;
    border-width: 5px;
    margin-bottom: 25px;
}


#my-name {
    background-color: #4aaaa5;
    width: fit-content;
    display: inline-block;
    position: relative;
    margin: 0px;
    color: #ffffff;
    padding: 20px;
}

#menu {
    width: fit-content;
    float: right;
    position: relative;
    margin-top: 30px;
    color: #cccccc
}

.menu {
    color: #cccccc;
    text-decoration: none;
    padding: 5px
}

#left-column {
    width: 650px;
    background-color: #ffffff;
    float: left;
    padding-bottom: 20px;
}

#first-header {
    color: #4aaaa5;
    margin-left: 25px;
}

#my-image {
    width: 200px;
    float: left;
    margin-left: 25px;
}

#my-image,
#first-header,
{
    margin-left: 25px;
}

#bio {
    width: 375px;
    margin-top: 0;
    margin-left: 25px;
    float: left;
}

#right-column {
    width: 270px;
    background-color: #ffffff;
    float: right;
    padding-bottom: 25px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#contact {
    color: #4aaaa5;
    text-align: center;
}

#github,
#stackoverflow,
#linkedin {
    width: 50px;
    float: left;

}

#stackoverflow {
    height: 45px;
    margin-top: 3px;
}

#social {
    margin-left: 55px;
}

hr {
    margin-left: 25px;
    margin-right: 25px;
}

footer {
    background-color: #666666;
    border-top-color: #4aaaa5;
    border-top-width: 50px;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
